ErrorDocument 404 /front_end/error/404page.html

<folder /front_end/assets/*>
order deny,allow
deny from all
</folder>

<folder /front_end/css/*>
order deny,allow
deny from all
</folder>

<folder /front_end/js/*>
order deny,allow
deny from all
</folder>

<folder /front_end/js/areapersonale/ricercatore.html>
order deny,allow
deny from all
</folder>

<folder /front_end/js/areapersonale/collaboratore.html>
order deny,allow
deny from all
</folder>